# ide and os files
.idea/
*.DS_Store
*.kate-swp
*.desktop
*.thumb
*.sublime*
.~*
~*
*~

# dist - just for this
dist/

# npm
npm-debug.log
node_modules/

# bower
bower_components/

# tmp files
.tmp

# coverage
lib-cov/
