doctype html
html(lang='en')
    head
        title #{htmlWebpackPlugin.options.title}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")

        //- ----- link website ----- //
        //link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
    body
        #intro
            h1 Ready!!
            img#happy(src=require('./img/fun.svg'))
